<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="src" />
          <add segment="scripts" />
          <add segment="python" />
          <add segment="data_live" />
          <add segment="cdr-link" />
          <add segment="vendor" />
          <add segment="docs" />
          <add segment=".git" />
        </hiddenSegments>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
